// Colors

	$as-border: #e7e7e7;
	$as-bg-alt: #f8f8f8;
	$as-black: #000000;
	$as-white: #ffffff;

	$as-red: #e44444;
	$as-green: #9ece78;
	$as-green-lt: #9ece78;
	$as-blue: #85c4ca;
	$as-gold: #f7c73e;

	$as-text: #2c2c2c;
	$as-text-lt: #999999;

	$as-gray-lt: #f7f7f7;


// Font vars
	$sans-serif-font: "canada-type-gibson", sans-serif;
	$serif-font: "freight-micro-pro", serif;

	$as-base-font-size: 18px;

// Screen Sizes

	$small: 608px;
	$medium: 746px;
	$large: 960px;
	$x-large: 1200px;
	$huge: 1440px;


// others

	$baseRadius: 5px;