// Buttons, containers, lists eventually replace _link_lists.scss

// button containers
	.btns{
		display: flex;
	}
		.btns--horizontal{
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			margin-bottom: 2rem;
			>div, a{
				margin: .5em;
			}
		}

// buttons
	.btn{
		@include btn();
		cursor: pointer;
	}
		.btn--block{
			display:block;
			&:after{
		      left: 90%;
		      top: 62%;
		      border: solid transparent;
		      content: " ";
		      height: 0;
		      width: 0;
		      position: absolute;
		      pointer-events: none;
		      border-color: rgba(216, 174, 52, 0);
		      margin-top: -9px;
		    }
		}
		.btn--centered{
			text-align: center;
		}
		.btn--gold{
			@include btnColor();
		}
		.btn--green{
			@include btnColor($bg-color: $as-green);
		}
		.btn--blue{
			@include btnColor($bg-color: $as-blue, $color: $as-white);
		}
		.btn--red{
			@include btnColor($bg-color: $as-red, $color: $as-white);
		}
		.btn--gray{
			@include btnColor($bg-color: $as-border);
			color: $as-text-med;
		}
		.btn--clear{
			@include btnColor($bg-color: $as-white);
		}
		.btn--small{
			@include btnSize($font-size: 16px);
			padding: .25em .5em;
		}
		.btn--sort{
			//position: relative;
			padding-right: 2em;
			//margin-left: 1rem;
			&:first-of-type{
				margin-left: 0;
			}
			&.desc:after, &.asc:after, &.as-toggle__trigger:after{
				position: absolute;
				font-family: "as-cu";
				content: '\e806';
				//right: 10px;
				top: 36%;
				right: 5%;
				font-size: .5em;
				@include transition(all 0.5s ease);
			}
			&.desc:after{
				transform: rotate(180deg);
			}
		}

// Text Buttons
	.txt-btn{

	}

// Toggle interactions
	.as-toggle--expanded{
		.as-toggle__trigger:after{
			transform: rotate(180deg);
		}
	}
// Button Helpers
	.sort{
		coursor: pointer;
	}
