// this is bits that make the view filter and exposes the panel.

.filters {
}

.filters__control-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    @include small-plus{
        justify-content: flex-start;
        margin: 2rem 0;
    }


  .section__title {
    font-size: 24px;

    @include mobile {
      padding: 0 gutter(8);
    }
    @include small-plus {
      float: left;
      margin: 0;
    }
  }
}
.toggleFilters{
    .viewToggle--filters{
        fill: $as-text;
        transition: all 0.5s ease;
    }
}
.toggleFilters--active{
    .viewToggle--filters{
        transform: rotate(180deg);
    }
}

.filters__control {
  @include font-sans-semi;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: .75rem;
  font-size: 1rem;
  border-radius: 3px;
  &.green{
      background: $as-green-lt;
      border: 1px solid $as-green;
  }
  &.gray{
      background: $as-gray-lt;
      border: 1px solid $as-text-lt;
  }
}

// view togglers
    .toggleView{
        margin-left: 2rem;
    }

    svg[class*="viewToggle"]{
        fill:$as-text-lt;
    }

    .toggleView--grid{
        .viewToggle--grid{
            fill: $as-text;
        }
    }

    .toggleView--list{
        .viewToggle--list{
            fill: $as-text;
        }
    }




.filters__control--expanded {
  .icon {
    @include mobile {
      background: $as-gold;
      color: $as-white;
      &:before {
        content: 'j';
      }
    }

    @include small-plus {
      &:before {
        content: 'l';
      }
    }
  }
}
