.region-social-media{
  @include clearfix();
}

.as-social-bar {
  //display: flex;
  img{
    max-width: 100%;
  }
  .view{
    text-align: center
  }
}

.as-social-bar-twitter-instagram{
  display: flex;
  flex-direction: column;
  @include medium-plus(){
    flex-direction: row;
    justify-content: space-between;
    .view-tweets{
      flex: 0 0 65%;
      max-width: 65%;
    }
    .view-instagrams{
      flex: 0 0 30%;
      max-width: 30%;
    }
  }

}


.view-instagrams{

}

.handle{
  color:$as-text;
  position:relative;
  text-transform: lowercase;
  display: block;
  &:before{
    content: "@";
  }
}


.as-social-bar__title {
  @include serif-font($size: 14px, $weight: 400, $color:$as-text);
  letter-spacing: 0.7px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2.5em;
  @include small-plus {  
    padding-bottom: 1.5em;
    position: relative;
  }
  .as-icon{
    width: 100%;
  }
}

.as-social-bar__text {
  color: #5d5d5d;
}

.as-social-bar__timestamp {
  color: #595959;
  @include font-sans-semi;
  text-transform: uppercase;

  @include mobile {
    font-size: 13px;
  }

  @include small-plus {
    font-size: 18px;
  }
}

.as-social-bar__img {
  display: block;
  margin: gutter(6) auto;
}

.as-social-bar__tweet-text{
  @include small-plus {
    font-size: 30px;
    color: $as-text-med;
    padding: gutter(3) 1rem;
  }
  margin-bottom: 3.5rem;
  position: relative;
  &:after, &:before {
    content: " ";
    position: absolute;
    border-top: solid 1px #e7e7e7;
    height: 1px;
    width: span(8);
    @include absolutely-centered;
    
  }
  &:before{
    top: 0;
  }
  &:after{
    bottom: 0;
  }
}

.tweet-image{
 // margin-right: 2rem;
  //border-right: 1px solid $as-border;
  //padding: 0 2rem;
}
.as-social-bar__item--twitter{

}
.as-social-bar__item--instagram {
  img{
    max-width: 100%;
    border: 1px solid $as-border;
  }

}

/*
  new Tweets
*/

.tweet{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $as-border;
  &__profileImage{
    flex: 0 0 15%;
  }
}
