table.as-table2 {
    /*@include small-plus{
        position: sticky;
        z-index: -1;
        top: 3rem;
    };*/

  border-collapse: collapse;
  width: 100%;
  border-right: 1px solid $as-border;
  //background: red;
  overflow: auto;
  margin: 3rem 0;
  //height: 200px;
  @include mobile {
    border-bottom: 1px solid $as-border;
  }

  tr {
    &:nth-of-type(even) {
     // background: #f0f0f0;
    }
    &:nth-of-type(odd) {
      //background: #fafafa;
    }
    &:first-of-type {
      //background: $as-white;
    }

    @include mobile {
      border-top: 1px solid $as-border;
    }
  }



  th {
    border-top: 2px solid $as-border;
    border-bottom: 2px solid $as-border;
    border-left: 1px solid $as-border;
    background: $as-gold;
    position: relative;
    //color: $as-text-lt;
    @include font-sans-semi;
    //font-size: 13px;
    padding: 1rem;
    text-align: left;
    //text-transform: uppercase;

  }

  td {
    border-top: 1px solid $as-border;
    border-bottom: 1px solid $as-border;
    border-left: 1px solid $as-border;
    //@include font-sans-lt;
    padding: 1rem;
    @include mobile {
      border-bottom: none;
      border-top: none;
     // display: inline-block;
    }

  }
    p, ul{
        margin-bottom: 0;
    }
}
/*
@include small-plus{
    .stickyHead{
        thead{
        position: sticky;
        top: 3rem;
        }
    }
}
*/



table.as-table {
  border-collapse: collapse;
  border: none;
  width: 100%;
  margin-bottom: 3rem;
  color: black;
  @include mobile {
    border-bottom: 1px solid $as-border;
  }

  tr {
    &:nth-of-type(even) {
      background: #f5f5f5;
    }
    &:nth-of-type(odd) {
      background: #fafafa;
    }
    &:first-of-type {
      background: $as-white;
    }

    @include mobile {
      border-top: 1px solid $as-border;
    }
    &.spacerRow{
      td{
        background: white;
        border-top: 2px solid #bbb;
      }
    }
  }

  th {
    border-top: 2px solid $as-border;
    border-bottom: 2px solid $as-border;
    background: $as-white;
    //color: $as-text-lt;
    @include font-sans-semi;
    font-weight: 600;
    //font-size: 13px;
    padding: 4% 2%;
    text-align: left;
    //text-transform: uppercase;
    
    p{
      font-weight: 600;
    }
  }

  td {
    border-top: 1px solid $as-border;
    border-bottom: 1px solid $as-border;
    @include font-sans-lt;
    padding: gutter();
    
    @include mobile {
      border-bottom: none;
      border-top: none;
     // display: inline-block;
    }
  }
  p{
    margin-bottom: 0;
  }
}

/*
 ** Webform responses are kinda like tables so i'm putting them here
 */

.response__list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: stretch;
    justify-content: space-between;
    li{
        border-left: 1rem solid $as-blue;
        margin-bottom: 4em;
        padding-left: 2em;
        &:nth-of-type(2n){
            border-left: 1rem solid $as-gold;
        }
        > div, .response__field, .views--field--value{
            margin-bottom: 1em;
            padding-bottom: 1em;
            border-bottom: 1px solid $as-border;
            display: flex;
            justify-content: space-between;
            .response__label, span:first-of-type, .views-lable{
                flex: 0 0 30%;
                font-weight: 400;
            }
            .response__content, span:last-of-type, .field-content{
                flex: 0 0 65%;
            }
        }
    }
}

/* flex tables failed
.flexTable{
    display: flex;
    flex-direction: column;
}
.flexRow{
    display: flex;
    justify-content: space-between;
    >.flexColumn{
        flex: 0 0 35%;
    }
    >.flexColumn:first-of-type{
        flex: 0 0 20%;
    }
}
.flexCell{
    display: flex;
    flex-direction: column;
    span{
        background: #eeeeee;
        padding: .5rem;
        margin-top: .5rem;
    }
}
*/

.fTableOutter{
    display: flex;
    align-items: center;
}
.fTableRowTitle{
    flex: 0 0 20%;
}
.fTableInner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.fTable{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .fColumn{
        flex: 0 0 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.fCell{
    background: #eeeeee;
    text-align: center;
    &.fCellStretch{
        flex: 0 0 100%;
    }
}
