/*
  ### Secondary Action Links
*/

.field-secondary-action-link{
  list-style-type: none;
  float: left;
  width: 100%;
  padding: 6%;
  li{
    float: left;
    width: 33.333%;
    text-align: center;
    border-right: 1px solid $as-border;
    padding: 0 2%;
    &:last-of-type{
      border: none;
    }
  }
  a{
    display: inline-block;
    @include font-sans-lt;
    font-size: 24px;
    letter-spacing: 1px;
    @include small-plus {
      margin: .75em 0;
    }
    @include as-link($as-text);
  }
}

/*

  as-stat

*/

.as-stats{
  display:flex;
  //flex-direction: row;
  //flex-wrap: wrap;
  align-items: stretch;
  padding: 6.25% 0;
  border-top: 1px solid $as-border;
  border-bottom: 1px solid $as-border;
  p{
    display: inline-block;
    text-align: center;
    position: relative;
    &::after{
      content:"";
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 75%;
      background: $as-border;
    }
    &:last-of-type::after{
      width: 0px;
    }
  } 
  .as-stat__numbers, .as-stat__content{
    display:block;
  }
  .as-stat__numbers{
    @include font-serif;
    @include font-size(100px);
    line-height: 1em;
  }
  .as-stat__content{
    color: $as-text-lt;
    @include font-sans;
    @include font-size(17px);
    @include pad(0.8 of 4);
    margin-top: gutter(4);
  }
}

// Sidebar Stats

.as-page__sidebar{
  .as-stats{
    display: block;
  }
  .as-stat{
    width: span(2 of 4);
    margin-top: gutter(3);
    &:nth-of-type(even){
      float: right;
      &::after{
        width: 0px;
      }
    }
    &:nth-of-type(odd){
      &::after{
        right: -10%;
      }
    }
  }
}


// ## Below here will change out over time.

.as-three-up {
  text-align: center;

  @include small-plus {
    .as-container {
      position: relative;
    }
  }

  .as-divider {
    background: $as-border;

    @include mobile {
      height: 1px;
    }

    @include small-plus {
      position: absolute;
      top: 25%;
      width: 1px;
      height: 50%;
      z-index: 2;
      left: 33.3%;
    }
  }

  .as-divider ~ .as-divider {
    @include small-plus {
      left: auto;
      right: 33.3%;
    }
  }
}

.as-three-up__item {
  @include small-plus {
    width: percentage(4 / 12);
    float: left;
  }
}

.as-three-up__title {
  @include font-sans-lt;
  font-size: 60px;
}

.as-three-up__text {
  @include font-sans;
  font-size: 17px;
  @include pad(0.8 of 4);
  margin-top: gutter(4);
}




.as-three-up__link {
  color: inherit;
  display: inline-block;
  @include font-sans-lt;
  font-size: 24px;
  letter-spacing: 1px;
  @include tablet {
    margin: gutter(2) 0;
  }
}

.as-three-up--quick-actions {
  background: yellow;

  .as-divider {
    background: shade($as-red, 15%);

    @include mobile {
      margin: 0 gutter();
    }
  }

  .as-three-up__item {

      padding:0 gutter(4);


    @include small-plus {
      padding: gutter(4) 0;
    }
  }
}

.as-three-up--facts {
  .as-divider {
    @include mobile {
      margin: 0 33.3%;
    }
  }
  .as-three-up__item {
    @include mobile {
      padding: gutter(2) 0;
    }
  }
}

.as-three-up--links {
  .as-divider {
    @include mobile {
      margin: 0 gutter();
    }
  }

  .as-three-up__item {
    @include mobile {
      padding: gutter(4);
      text-align: left;
    }
  }
}

.as-three-up--bordered {
  .as-container {
    border-top: 1px solid $as-border;
    border-bottom: 1px solid $as-border;
  }

  @include small-plus {
    .as-container {
      padding: gutter(4) 0;
    }

    .as-divider {
      top: 33%;
      height: 34%;
    }
  }
}
